{% include 'participant_main.html' %}
<div class="screen">
{% block content %}

<!DOCTYPE html>
<html lang="en">
    <form method="POST" action="{% url 'theGame' game_link %}">
        {% csrf_token %}
        
        <label for="choice">Round Won: {{wins}} and Round {{turn}}: </label>
        <select name="choice" id="choice">
            <option value='True'>greater than 7</option>
            <option value='False'>lesser than 7</option>
        
        </select>
        <br><br>
        <input type="submit" name="action" value="submit"/>
       
    </form>
</html>

{% endblock %}