{% include 'participant_navbar.html' %}

{% block content %}
    <h3>Sender : {{ status.sender_name }}</h3>
    <h3>Receiver : {{ status.receiver_name }}</h3>
    <h3>Points bet for : {{ status.points }}</h3>

    {% if status.game_forfeited %}
        <h4>Game Forfeited, {{ status.sender_name }} wins by default</h4>
    {% else %}
        <p>Winner: {% if status.sender_wins > status.receiver_wins %}{{ status.sender_name }}{% else %}{{ status.receiver_name }}{% endif %}</p>
        <p>Sender won {{ status.sender_wins }} games, and Receiver won {{ status.receiver_wins }} games</p>

        <br><br>
        <p>{{status.sender_name}} chooses: {{ status.num1 }}</p>
        <p>{{status.receiver_name}} guesses: {% if status.play1 %}greater than 7{% else %}lesser than 7{% endif %}</p>

        <br><br>
        <p>{{status.sender_name}} chooses: {{ status.num2 }}</p>
        <p>{{status.receiver_name}} guesses: {% if status.play2 %}greater than 7{% else %}lesser than 7{% endif %}</p>

        <br><br>
        <p>{{status.sender_name}} chooses: {{ status.num3 }}</p>
        <p>{{status.receiver_name}} guesses: {% if status.play3 %}greater than 7{% else %}lesser than 7{% endif %}</p>
    {% endif %}
{% endblock content %}

